body {
	background: url("https://ksyang21.github.io/img/bg-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.big-title {
	border: 1px solid #bfbfbf
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.c {
	border: 10px;
}